@import "../../variables.scss";

.login-page-container {
  padding: 6rem;
  .logo {
    margin: auto;
    width: 5vw;
  }
  .login {
    margin: 1rem auto;
    padding: 1rem;
    width: 25vw;
    text-align: center;
    background-color: $white-color;
    -webkit-box-shadow: 2px 2px 19px 0px rgba(50, 50, 50, 0.78);
    -moz-box-shadow: 2px 2px 19px 0px rgba(50, 50, 50, 0.78);
    box-shadow: 2px 2px 19px 0px rgba(50, 50, 50, 0.78);

    h3 {
      width: 100%;
      color: $gray-color;
    }

    .login-form {
      margin-left: 1rem;
      margin-right: 1rem;
      input {
        display: inline-block;
        width: 100%;
        height: 3rem;
        outline-color: $main-color;
      }

      button {
        width: 100%;
        height: 3rem;
        margin-top: 1rem;
        background-color: $main-color;
        color: $white-color;
        border: none;
        font-size: 1.5rem;
      }
    }
  }
}
