.header-nav-item {
  display: inline-block;
  width: 50%;
  /*padding: 0.5rem 1rem 0.5rem 1rem;*/
  /*margin-left: -1px;*/
  border-style: none solid none solid;
  border-width: 1px;
  border-color: #a8a8a8;
  border-collapse: collapse;
}
.header-nav-item__title {
  font-size: 0.7rem;
  text-align: center;
  text-decoration: none;
}

.icon {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  background-size: cover;
  margin: 0 auto;
  padding: 0.5rem;
}

.icon-home {
  background-image: url(../../assets/icon/home/home.svg);
}
.icon-home:hover,
.icon-home:focus {
  background-image: url(../../assets/icon/home/home-hover.svg);
}

.icon-announce {
  background-image: url(../../assets/icon/announce/announce.svg);
}
.icon-announce:hover,
.icon-announce:focus {
  background-image: url(../../assets/icon/announce/announce-hover.svg);
}

.icon-ordermanage {
  background-image: url(../../assets/icon/ordermanage/ordermanage.svg);
}
.icon-ordermanage:hover,
.icon-ordermanage:focus {
  background-image: url(../../assets/icon/ordermanage/ordermanage-hover.svg);
}

.icon-login {
  background-image: url(../../assets/icon/login/login.svg);
}
.icon-login:hover,
.icon-login:focus {
  background-image: url(../../assets/icon/login/login-hover.svg);
}
